afun95/deployment/deployAzure.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "baseName": {
            "defaultValue": "afun95demo",
            "type": "string",
            "metadata": {
                "description": "Name use as base-template to named the resources deployed in Azure."
            }
        },
        "GitHubBranch": {
           "type": "string",
           "defaultValue": "master",
           "metadata": {
                "description": "Name of the branch to use when deploying (Default = master)."
            }
        },
        "GitHubURL": {
           "type": "string",
           "defaultValue": "https://github.com/microsoft/ignite-learning-paths-training-afun.git",
           "metadata": {
                "description": "The URL of GitHub (ending by .git)"
            }
        },
        "ExpireOn":{
            "type":"string",
            "defaultValue":"[utcNow('yyyy-MM-dd')]",
            "metadata": {
                "description": "Just a text value (format: yyyy-MM-dd) that express when it is safe to delete these resources"
            }
        },
        "OwnerName":{
            "type":"string",
            "defaultValue":"",
            "metadata": {
                "description": "Owner of this deployment, person to contact for question."
            }
        }
    },
    "variables": {
        "suffix": "[substring(toLower(uniqueString(resourceGroup().id, resourceGroup().location)),0,5)]",
        "funcAppName": "[toLower(concat(parameters('baseName'), 'function', variables('suffix')))]",
        "funcAppFinalName": "[toLower(concat('final',parameters('baseName'), variables('suffix')))]",
        "funcStorageName": "[tolower(concat(substring(parameters('baseName'), 0, min(length(parameters('baseName')),16)), 'stg', variables('suffix')))]",
        "serverFarmName": "[concat(substring(parameters('baseName'), 0, min(length(parameters('baseName')),14)), '-srv-', variables('suffix'))]",
        "repoURL": "[parameters('GitHubURL')]",
        "storageAccountid": "[concat(resourceGroup().id,'/providers/','Microsoft.Storage/storageAccounts/', variables('funcStorageName'))]",
        "workflowName": "[toLower(concat(parameters('baseName'), 'workflow', variables('suffix')))]",
        "workflowFinalName": "[toLower(concat('Final', parameters('baseName'), 'workflow', variables('suffix')))]",
        "connections_onedrive_externalid": "[concat(subscription().Id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/onedrive')]",
        "functionProjectFolder": "afun95/demos/functionapp-demo",
        "finalAzFuncHttpTriggerID": "[concat(subscription().Id, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/sites/', variables('funcAppFinalName'), '/functions/SimpleHttpTrigger')]"
    },
    "resources": [
        {
            "apiVersion": "2015-08-01",
            "type": "Microsoft.Web/sites",
            "name": "[variables('funcAppFinalName')]",
            "location": "[resourceGroup().location]",
            "kind": "functionapp",
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms',variables('serverFarmName'))]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('funcStorageName'))]"
            ],
            "tags": {
                "ExpireOn": "[parameters('ExpireOn')]",
                "Owner": "[parameters('OwnerName')]"
            },
            "properties": {
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('serverFarmName'))]",
                "siteConfig": {
                    "appSettings": [
                        {
                            "name": "AzureWebJobsDashboard",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('funcStorageName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "AzureWebJobsStorage",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('funcStorageName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('funcStorageName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "WEBSITE_CONTENTSHARE",
                            "value": "[variables('funcAppFinalName')]"
                        },
                        {
                            "name": "FUNCTIONS_EXTENSION_VERSION",
                            "value": "~2"
                        },
                        {
                            "name": "FUNCTIONS_WORKER_RUNTIME",
                            "value": "node"
                        },
                        {
                            "name": "WEBSITE_NODE_DEFAULT_VERSION",
                            "value": "10.14.1"
                        },
                        {
                            "name": "PROJECT",
                            "value": "[variables('functionProjectFolder')]"
                        }
                    ]
                },
                "clientAffinityEnabled": false,
                "reserved": false
            },
            "resources": [
                {
                    "apiVersion": "2015-08-01",
                    "name": "web",
                    "type": "sourcecontrols",
                    "dependsOn": [
                      "[resourceId('Microsoft.Web/sites/', variables('funcAppFinalName'))]"
                    ],
                    "properties": {
                        "RepoUrl": "[variables('repoURL')]",
                        "branch": "[parameters('GitHubBranch')]",
                        "publishRunbook": true,
                        "IsManualIntegration": true
                    }
               }
            ]
        },
        {
            "apiVersion": "2015-08-01",
            "type": "Microsoft.Web/sites",
            "name": "[variables('funcAppName')]",
            "location": "[resourceGroup().location]",
            "kind": "functionapp",
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms',variables('serverFarmName'))]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('funcStorageName'))]"
            ],
            "tags": {
                "ExpireOn": "[parameters('ExpireOn')]",
                "Owner": "[parameters('OwnerName')]"
            },
            "properties": {
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('serverFarmName'))]",
                "siteConfig": {
                    "appSettings": [
                        {
                            "name": "AzureWebJobsDashboard",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('funcStorageName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "AzureWebJobsStorage",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('funcStorageName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('funcStorageName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "WEBSITE_CONTENTSHARE",
                            "value": "[variables('funcAppName')]"
                        },
                        {
                            "name": "FUNCTIONS_EXTENSION_VERSION",
                            "value": "~2"
                        },
                        {
                            "name": "FUNCTIONS_WORKER_RUNTIME",
                            "value": "node"
                        },
                        {
                            "name": "WEBSITE_NODE_DEFAULT_VERSION",
                            "value": "10.14.1"
                        },
                        {
                            "name": "PROJECT",
                            "value": "afun/afun95/functionapp-demo"
                        }
                    ]
                },
                "clientAffinityEnabled": false,
                "reserved": false
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2018-07-01",
            "name": "[variables('funcStorageName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "displayName": "funStorageName",
                "ExpireOn": "[parameters('ExpireOn')]",
                "Owner": "[parameters('OwnerName')]"
            },
            "sku": {
                "name": "Standard_LRS"
            },
            "kind": "StorageV2"
        },
        {
            "type": "Microsoft.Web/serverfarms",
            "apiVersion": "2018-02-01",
            "name": "[variables('serverFarmName')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Y1",
                "tier": "Dynamic"
            },
            "tags": {
                "ExpireOn": "[parameters('ExpireOn')]",
                "Owner": "[parameters('OwnerName')]"
            },
            "properties": {
                "name": "[variables('serverFarmName')]",
                "computeMode": "Dynamic"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('workflowName')]",
            "location": "eastus",
            "tags": {
                "ExpireOn": "[parameters('ExpireOn')]",
                "Owner": "[parameters('OwnerName')]"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "GET",
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Create_file": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "Bonjour @{concat('Here is the message: ', triggerOutputs()['queries']['salutation'])}",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedrive']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/IgniteDemo",
                                    "name": "test_@{utcNow('yyyy-MM-dd_HH-mm')}.txt"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "onedrive": {
                                "connectionId": "[variables('connections_onedrive_externalid')]",
                                "connectionName": "onedrive",
                                "id": "[variables('connections_onedrive_externalid')]"
                            }
                        }
                    }
                }
            }
        },
            {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('workflowFinalName')]",
            "location": "eastus",
            "dependsOn":[
                "[resourceId('Microsoft.Web/sites',variables('funcAppFinalName'))]",
                "[resourceId('Microsoft.Web/Sites/sourcecontrols', variables('funcAppFinalName'), 'web')]"
            ],
            "tags": {
                "ExpireOn": "[parameters('ExpireOn')]",
                "Owner": "[parameters('OwnerName')]"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Create_file": {
                            "inputs": {
                                "body": " @{body('SimpleHttpTrigger')}",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedrive_2']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/IgniteDemo",
                                    "name": "test_@{utcNow('yyyy-MM-dd_HH-mm')}.txt"
                                }
                            },
                            "runAfter": {
                                "SimpleHttpTrigger": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            },
                            "type": "ApiConnection"
                        },
                        "Response": {
                            "inputs": {
                                "body": "The file @{body('Create_file')?['Name']} was created.",
                                "statusCode": 200
                            },
                            "kind": "http",
                            "runAfter": {
                                "Create_file": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        },
                        "SimpleHttpTrigger": {
                            "inputs": {
                                "body": {
                                    "name": "@{triggerOutputs()['queries']['salutation']}"
                                },
                                "function": {
                                    "id": "[variables('finalAzFuncHttpTriggerID')]"
                                }
                            },
                            "runAfter": {},
                            "type": "Function"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "method": "GET",
                                "schema": {}
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "onedrive_2": {
                                "connectionId": "[variables('connections_onedrive_externalid')]",
                                "connectionName": "onedrive",
                                "id": "[variables('connections_onedrive_externalid')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}
